{% extends "menu.html" %}
{% block title %}Clients{% endblock %}
{% block content %}

{% if not request.user.is_superuser and vcheck is none %}
    <meta http-equiv="refresh" content="0;url=/">
{% endif %}

<div class="card mt-3">
    <div class="card-content">
      <div class="row row-group m-0">
        <div class="col-12 col-lg-6 col-xl-3 border-light">
          <div class="card-body text-left mx-auto mb-3 mt-3">
            <h2>
              <p class="mb-0 text-white big-font">
                <i class="fas fa-users"></i> Total Clients <span class="float-right">{{ csay }}</span>
              </p>
            </h2>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3 border-light">
          <div class="card-body text-left mx-auto mb-3 mt-3">
            <h2>
              <p class="mb-0 text-white big-font">
                <i class="fa fa-shopping-cart"></i> Total Products <span class="float-right">{{ psay }}</span>
              </p>
            </h2>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3 border-light">
          <div class="card-body text-left mx-auto mb-3 mt-3">
            <h2>
              <p class="mb-0 text-white big-font">
                <i class="fa fa-shopping-basket"></i> Total Orders <span class="float-right">{{ osay }}</span>
              </p>
            </h2>
          </div>
        </div>
      </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible">
            <span class="icon"><i class="mdi mdi-message-reply-text"></i></span>
            {{ message }}
            {% if delete1_id %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'delete1' delete1_id  %}"><button class="btn btn-danger btn-round px-4" title="Delete"><i class="fas fa-check"></i></button></a>
                    <a href="{% url 'clients'  %}" ><button class="btn btn-warning btn-round px-4" title="Cancel"><i class="fas fa-times"></i></button></a>
                {% else %}
                    <a href="{% url 'delete1' echeck delete1_id  %}"><button class="btn btn-danger btn-round px-4" title="Delete"><i class="fas fa-check"></i></button></a>
                    <a href="{% url 'clients' echeck request.user.id %}" ><button class="btn btn-warning btn-round px-4" title="Cancel"><i class="fas fa-times"></i></button></a>
                {% endif %}
            {% else %}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

{% if request.user.is_superuser or echeck %}
    {% if edit1 %}
        <div class="card-body">
            <div class="card-title">Update client</div>
            <hr>
            <form method="post" {% if request.user.is_superuser %}action="{% url 'update1' edit1.id %}"{% else %} action="{% url 'update1' echeck edit1.id %}"{% endif %} enctype="multipart/form-data">
                {% csrf_token %}
                {% if edit1.photo %}
                    <div class="form-group">
                        <label for="input-photo">Current Photo:</label>
                        <img src="{{ edit1.photo }}" alt="{{ edit1.name }} {{ edit1.surname }}" width="150" height="150">
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="new_photo">Update Photo:</label>
                    <input type="file" class="form-control form-control-rounded" name="new_photo" id="new_photo">
                </div>
                <div class="form-group">
                    <label for="name">Client's name:</label>
                    <input type="text" class="form-control form-control-rounded" name="name" id="name" value="{{ edit1.name }}">
                </div>
                <div class="form-group">
                    <label for="surname">Client's surname:</label>
                    <input type="text" class="form-control form-control-rounded" name="surname" id="surname" value="{{ edit1.surname }}">
                </div>
                <div class="form-group">
                    <label for="email">Client's email:</label>
                    <input type="text" class="form-control form-control-rounded" name="email" id="email" value="{{ edit1.email }}">
                </div>
                <div class="form-group">
                    <label for="telephone">Client's telephone:</label>
                    <input type="text" class="form-control form-control-rounded" name="telephone" id="telephone" value="{{ edit1.telephone }}">
                </div>
                <div class="form-group">
                    <label for="company">Client's company:</label>
                    <input type="text" class="form-control form-control-rounded" name="company" id="company" value="{{ edit1.company }}">
                </div>
                <div class="form-group d-flex">
                    <button type="submit" class="btn btn-light btn-round px-5 mr-2" title="Update client"><i class="fas fa-sync"></i></button>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'clients' %}" class="btn btn-light btn-round px-5" title="Cancel"><i class="fas fa-times"></i></a>
                    {% else %}
                        <a href="{% url 'clients' echeck request.user.id %}" class="btn btn-light btn-round px-5" title="Cancel"><i class="fas fa-times"></i></a>
                    {% endif %}
                </div>
            </form>
        </div>
    {% else %}
        <div class="card-body">
            <div class="card-title">Add client</div>
            <hr>
            <form method="post"  {% if request.user.is_superuser %}action="{% url 'clients' %}"{% else %} action="{% url 'clients' echeck request.user.id %}" {% endif %} enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="photo">Client's photo:</label>
                    <input type="file" class="form-control form-control-rounded" name="photo" id="photo">
                </div>
                <div class="form-group">
                    <label for="name">Client's name:</label>
                    <input type="text" class="form-control form-control-rounded" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="surname">Client's surname:</label>
                    <input type="text" class="form-control form-control-rounded" name="surname" id="surname">
                </div>
                <div class="form-group">
                    <label for="email">Client's email:</label>
                    <input type="text" class="form-control form-control-rounded" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="telephone">Client's telephone:</label>
                    <input type="text" class="form-control form-control-rounded" name="telephone" id="telephone">
                </div>
                <div class="form-group">
                    <label for="company">Client's company:</label>
                    <input type="text" class="form-control form-control-rounded" name="company" id="company">
                </div>
                <input type="hidden" name="echeck" value="{{ echeck }}">
                <div class="form-group">
                    <button type="submit" class="btn btn-light btn-round px-5" title="Add client"><i class="fas fa-check"></i></button>
                    <a href="{% url 'export_clients_to_excel' %}" class="btn btn-light btn-round px-5" title="Export Clients">
                        <i class="fa fa-file-excel"></i>
                    </a>
                </div>
            </form>
        </div>
    {% endif %}
{% endif %}

<br>

{% if info %}
    {% if request.user.is_superuser %}
        <form method="post" enctype="multipart/form-data" action="{% url 'delete_selected_clients' %}">
    {% else %}
        {% if echeck %}
            <form method="post" enctype="multipart/form-data" action="{% url 'delete_selected_clients' echeck request.user.id %}">
        {% elif vcheck %}
            <form method="post" enctype="multipart/form-data" action="{% url 'delete_selected_clients' vcheck request.user.id %}">
        {% endif %}
    {% endif %}
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Clients Table</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            
                            <tr>
                                {% if request.user.is_superuser or echeck %}
                                    <th scope="col">Checkbox</th>
                                {% endif %}
                                <th scope="col">№</th>
                                <th scope="col">Photo</th>
                                <th scope="col">Client</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Company</th>
                                {% if request.user.is_superuser or echeck  %}
                                    <th scope="col">Actions
                                                <button type="submit" class="btn btn-danger btn-sm" name="secsil" {% if not info %}disabled{% endif %}>
                                                    <i class="fas fa-trash-alt" title="Delete choosen clients"></i> 
                                                </button>
                                        </th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for client in info %}
                                <tr>
                                    {% if request.user.is_superuser or echeck %}
                                        <th><input type="checkbox" name="secim[]" value="{{client.id}}"></th>
                                    {% endif %}
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <img src="{{ client.photo }}" alt="{{ client.name }}" class="circular-image">
                                    </td>
                                    <td>{{ client.name }} {{ client.surname }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.telephone }}</td>
                                    <td>{{ client.company }}</td>
                                    {% if  request.user.is_superuser or echeck %}
                                        {% if request.user.is_superuser %}
                                            <td>
                                                <a href="{% url 'udalit1'  client.id %}">
                                                    <button type="button" class="btn btn-danger btn-round px-5" title="Delete">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'edit1'  client.id %}">
                                                    <button type="button" class="btn btn-warning btn-round px-5" title="Edit">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                                                </a>     
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="{% url 'udalit1' echeck client.id  %}">
                                                    <button type="button" class="btn btn-danger btn-round px-5" title="Delete">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'edit1'  echeck client.id %}">
                                                    <button type="button" class="btn btn-warning btn-round px-5" title="Edit">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

{% endif %}
{% endblock %}
